#apercu {
  width: 50%;
  height: 40vw;
}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
img {
  width: 60px;
  animation-duration: 3s;
  animation-iteration-count: inherit;
  transform-origin: bottom;
}
.back {
  position: absolute;
}

.flip {
  transition: 0s;
}

.flip:hover {
  backface-visibility: visible !important;
  animation: flipanim 3s 1 forwards;
}

@keyframes flipanim {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: perspective(400px) translateZ(150px) rotateY(180deg) scale(1);
    animation-timing-function: step-end;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
