body {
  overflow-x: hidden;
}
#list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#test {
  width: 60%;
  height: 60%;
  margin-top: 10%;
  margin-right: 0%;
  margin-left: 22%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

p {
  align-items: center;
}

#test .first-part {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-bottom: 10%;
  overflow-y: scroll;
}

#card {
  padding-left: 90px;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

#img-card {
  width: 35%;
  transform: translateZ(30px);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 50);
}

.carte {
  width: 60px;
  background-image: url("./img/po.png");
  background-size: contain;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.flip {
  transition: 0s;
}

.flip:hover {
  backface-visibility: visible !important;
  animation: flipanim 3s 1 forwards;
}

@keyframes flipanim {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  20% {
    background-image: url("./img/po.png");
    transform: perspective(400px) translateZ(150px) rotateY(90deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(180deg);
    animation-timing-function: ease-out;
  }
  80% {
    background-image: url("./img/po.png");
    transform: perspective(400px) translateZ(150px) rotateY(270deg);
    animation-timing-function: ease-out;
  }
  100% {
    background-image: url("img/po2.png");
    transform: perspective(400px) translateZ(150px) rotateY(360deg) scale(1);
    animation-timing-function: step-end;
  }
}

footer {
  padding-top: 60px;
}

@media (max-width: 600px) {
  .po {
    display: inline-block;
    height: 20 px;
    width: 10 px;
  }

  #list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  footer {
    padding-bottom: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
